{% extends "base.html.twig" %}

{% block title %}

    Datapointje: {{foundObj.x}}
    

{% endblock %}


{% block body %}


    <h1> {{foundObj.z}}</h1>


    Nummer X: {{foundObj.x}}
    {{foundObj.y}}

{% endblock %}